.background {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    background-image: url('../img/background.jpg');
    background-size: cover;
 }

.main__container {
    position: absolute;
    z-index: 2;
    max-width: 1200px;

    .main__title {
        font-size: 33px;
        font-family: "Roboto", Sans-serif;
        letter-spacing: 5px;
        font-weight: 600;
     }
     .main__subtext {
        font-size: 13px;
        font-family: "Roboto", Sans-serif;
        letter-spacing: 10px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 20px;
        opacity: .5;
     }
     .main__text {
        font-size: 16px;
        letter-spacing: 2px;
        margin: 20px;
        .main__carouselElement {
            color: black;
            background-color: rgba(255,255,255, .75);
            border-radius: 5px;
            padding: 20px 0 0 0;
            margin: 30px 0;
            .main__carouseltitle { 
                font-weight: 500;
            }
            .main__carouselSubElement {
                color: rgba(black, .75);
                width: calc(33% - 40px);
                padding: 10px 10px 20px 10px;
                display: inline-block;
                text-align: center;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                height: auto;
            }
        }
     }
     @media only screen and (max-width: 675px) {
        .main__title {
           font-size: 22px;
        }
        .main__text {
           .main__carouselElement {
            .main__carouselSubElement {
                border: 1px solid green;
            }
        }
        }
     }
}