.contact {
  position: fixed;
  z-index: 1001;
  bottom: 5px;
  left: 0;
  margin: 15px 25px;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2.5px;
  cursor: pointer;
  opacity: .5;
  &:hover {
      opacity: .85;
  }
  .contact__logo {
    width: 25px;
    position: relative;
    top: 4px;
    left: 2px;
  }
  .contact__email {
    letter-spacing: -2px;
  }
}